html,
body {
	margin:0;
	padding:0;
	height:100%;
    font-family: Ariel, Helvetica, sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#nav {
	padding:10px;
    color: #666666;
}

#nav ul {
    width 300px;
    float: right;
}

#nav li {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    
}

#nav a {
    text-decoration: none;
    color: #666666;
}

#logo {
	padding-bottom:50px; /* Height of the footer element */
    clear: both;
    margin-top: 245px;
}

#logo img {
   display: block;
   margin: auto;
   padding-bottom: 10px;
}

#search_box {
    display: block;
    margin: auto;
    line-height: 30px;
}

.search {
    background-image: url(images/microphone2.png);
    background-repeat: no-repeat;
    background-position: right;
}


#footer {
	background:#f2f2f2;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}

#footer ul {
    width: 310px;
}

#footer li {
    height: 50px;
    width: 100px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;   
}
#footer a {
    text-decoration: none;
    color: #666666;
}
#menu_left {
    float: left;
}

#menu_left li{
    display: inline-block;
}

#menu_right {
    float: right;
}

#menu_right li{
    display: inline-block;
}