body {
    font-size: 15px;
}

div {
    display: block;
}
/*#nav {
   float: right;
   width: 220px;
   display: block;
}*/

#nav a {
    text-decoration: none;
     height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

#search_box {
    font-size: 1.25em;
}
.search {
    background: url(images/microphone2.png) no-repeat;
    background-position: right;
}

#nav ul {
    float: right;
    display: table;
    height: 30px;
    line-height: 30px;
}
#nav li {
   /* position: relative;*/
    display: inline-block;
    height: 30px;
    width: 50px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

#logo {
    position: relative;
    clear: both;
    top: 200px;
}

#logo img {
    display: block;
    margin: 0 auto 10px auto;
}

#logo input {
    display: block;
    height: 25px;
}

.center {
    margin: auto;
}


